name: build-kernel
on:
  workflow_dispatch:
env:
  CLANG_DIR: clang-r584948
jobs:
  build-kernel:
    runs-on: ubuntu-22.04
    steps:
      - name: Free Disk Space (Ubuntu)
        if: ${{ true }} # Set to true if space insufficient
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: false
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 16
      - uses: actions/checkout@v6
        with:
          path: aospa-gki-kernel-build
      - name: Setup Python
        uses: actions/setup-python@v5 
        with:
          python-version: 'pypy3.10'
      - name: Setup build environment
        run: |
          sudo apt-get update
          sudo apt-get install -y bc device-tree-compiler
          sudo curl --create-dirs -o /usr/local/bin/repo -L https://storage.googleapis.com/git-repo-downloads/repo
          sudo chmod a+rx /usr/local/bin/repo
      - name: Clone repo and sync
        run: |
          repo init -u https://github.com/bryanyee33/aospa-gki-kernel-build -b "$(git -C aospa-gki-kernel-build branch --show-current)" -m manifest.xml --depth=1
          repo sync
          mkdir -p kernel_platform/device/xiaomi/marble-kernel/dtbs
      - name: Setup clang
        run: |
          mkdir -p kernel_platform/clang
          cd kernel_platform/clang

          : # git clone --filter & git sparse-checkout to only download required directory
          git clone -n --depth=1 --filter=tree:0 -b main-kernel --single-branch \
              https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86 .
          git sparse-checkout set --no-cone "/$CLANG_DIR"
          git checkout
      
      # [REMOVED] Include KSU
      # [REMOVED] Include SUSFS
      # [REMOVED] Include other KSU manager signatures

      - name: Include personal changes
        run: |
          cp -rf aospa-gki-kernel-build/android_kernel_xiaomi_sm8450/. kernel_platform/xiaomi/sm8450
          cd kernel_platform/xiaomi/sm8450

          : # Fix clang 19 warnings
          curl https://github.com/LineageOS/android_kernel_xiaomi_sm8450/commit/172b68ec702573ca1eef912e06ffdeb32f9c01ac.patch | git apply
          curl https://github.com/LineageOS/android_kernel_xiaomi_sm8450/commit/aea66fe46a3d796d4f85c5979678055438185cbd.patch | git apply

          : # Fix clang 21 warnings
          curl https://github.com/Pzqqt/android_kernel_xiaomi_marble/commit/f4ae922da12b91d0b7a8109ba2851a44c61b0ba6.patch | git apply
          cd ..
          curl https://github.com/Pzqqt/android_kernel_xiaomi_marble/commit/f61c4b97ea8dfa65cce74c41a281dc8086e10ee6.patch > clang.patch
          sed -i 's/drivers\/staging/sm8450-modules\/qcom\/opensource\/wlan/g' clang.patch
          patch -p1 < clang.patch
          curl https://github.com/Pzqqt/android_kernel_xiaomi_marble/commit/3e043c16430a95f6d328f5396c14ec18a52ab10a.patch > clang.patch
          sed -i 's/drivers/sm8450\/drivers/g' clang.patch
          sed -i 's/techpack\/display/sm8450-modules\/qcom\/opensource\/display-drivers/g' clang.patch
          patch -p1 < clang.patch

      - name: Build kernel
        run: |
          cd kernel_platform/xiaomi/sm8450
          ./build.sh marble
      - name: Zip output
        run: |
          git clone --depth=1 -b marble https://github.com/bryanyee33/AnyKernel3.git AnyKernel3-marble
          cd AnyKernel3-marble
          cp ../kernel_platform/device/xiaomi/marble-kernel/Image .
          rm -r .git README.md
          find . -type f -name 'placeholder' -delete
          find . -type d -empty -delete
          zip -r9 "../marble-kernel.zip" *

          cd ..
          git clone --depth=1 -b pzqqt https://github.com/bryanyee33/AnyKernel3.git AnyKernel3-pzqqt
          cd AnyKernel3-pzqqt
          cp ../kernel_platform/device/xiaomi/marble-kernel/Image .
          cp ../kernel_platform/device/xiaomi/marble-kernel/dtbs/dtbo.img .
          cp ../kernel_platform/device/xiaomi/marble-kernel/dtbs/ukee.dtb ./dtb
          cp -r ../kernel_platform/device/xiaomi/marble-kernel/vendor_dlkm ./_vendor_dlkm_modules
          cp -r ../kernel_platform/device/xiaomi/marble-kernel/vendor_ramdisk ./_vendor_boot_modules
          rm -r .git README.md
          find . -type f -name 'placeholder' -delete
          find . -type d -empty -delete
      - name: Generate release tag
        id: tag
        # Updated tag name to remove "KSU"
        run: echo "release_tag=AOSPA_GKI_$(date +'%Y.%m.%d')" >> "$GITHUB_OUTPUT"
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag.outputs.release_tag }}
          files: |
            marble-kernel.zip

      # [REMOVED] Upload ksu_module_susfs artifact

      - name: Upload marble-kernel artifact
        uses: actions/upload-artifact@v4
        with:
          name: marble-kernel
          path: AnyKernel3-marble/*
          compression-level: 9
      - name: Upload blobs artifact
        uses: actions/upload-artifact@v4
        with:
          name: marble-kernel-blobs
          path: AnyKernel3-pzqqt/*
          compression-level: 9
